<!DOCTYPE html>
<html
  dir="ltr"
  lang="en"
  data-theme="dark"
  
    class="html theme--dark"
  
><head>
  <title>
    unkwn1
        |
        Unkwn1&#39;s Technical Mind-Palace
      

    

  </title>

  
  <meta charset="utf-8" /><meta name="generator" content="Hugo 0.108.0"><meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
  <meta name="author" content="unkwn1" />
  <meta
    name="description"
    content="Learning as I go."
  />
  
  
    
    
    <link
      rel="stylesheet"
      href="/scss/main.min.5794be192d21535bdd301561e043a96b6adbad2b5c08279deff459e4661c613f.css"
      integrity="sha256-V5S&#43;GS0hU1vdMBVh4EOpa2rbrStcCCed7/RZ5GYcYT8="
      crossorigin="anonymous"
      type="text/css"
    />
  

  
  <link
    rel="stylesheet"
    href="/css/markupHighlight.min.31b0a1f317f55c529a460897848c97436bb138b19c399b37de70d463a8bf6ed5.css"
    integrity="sha256-MbCh8xf1XFKaRgiXhIyXQ2uxOLGcOZs33nDUY6i/btU="
    crossorigin="anonymous"
    type="text/css"
  />
  
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/fontawesome.min.7d272de35b410fb165377550cdf9c4d3a80fbbcc961e111914e4d5c0eaf5729f.css"
    integrity="sha256-fSct41tBD7FlN3VQzfnE06gPu8yWHhEZFOTVwOr1cp8="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/solid.min.55d8333481b07a08e07cf6f37319753a2b47e99f4c395394c5747b48b495aa9b.css"
    integrity="sha256-VdgzNIGwegjgfPbzcxl1OitH6Z9MOVOUxXR7SLSVqps="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/regular.min.a7448d02590b43449364b6b5922ed9af5410abb4de4238412a830316dedb850b.css"
    integrity="sha256-p0SNAlkLQ0STZLa1ki7Zr1QQq7TeQjhBKoMDFt7bhQs="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/brands.min.9ed75a5d670c953fe4df935937674b4646f92674367e9e66eb995bb04e821647.css"
    integrity="sha256-ntdaXWcMlT/k35NZN2dLRkb5JnQ2fp5m65lbsE6CFkc="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />

  <link rel="canonical" href="https://unkwn1.dev/" />

  
  <link rel="alternate" type="application/rss+xml" href="/index.xml" title="Unkwn1's Technical Mind-Palace" />
  
  
  
  <script
    type="text/javascript"
    src="/js/anatole-header.min.f9132794301a01ff16550ed66763482bd848f62243d278f5e550229a158bfd32.js"
    integrity="sha256-&#43;RMnlDAaAf8WVQ7WZ2NIK9hI9iJD0nj15VAimhWL/TI="
    crossorigin="anonymous"
  ></script>

  

  


  
  <meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="https://unkwn1.dev/images/site-feature-image.png"/>

<meta name="twitter:title" content="Unkwn1&#39;s Technical Mind-Palace"/>
<meta name="twitter:description" content="Learning as I go."/>



  
  <meta property="og:title" content="Unkwn1&#39;s Technical Mind-Palace" />
<meta property="og:description" content="Learning as I go." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://unkwn1.dev/" /><meta property="og:image" content="https://unkwn1.dev/images/site-feature-image.png"/><meta property="og:site_name" content="unkwn1&#39;s Technical Mind Palace" />




  
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Unkwn1's Technical Mind-Palace",
      "url": "https:\/\/unkwn1.dev",
      "description": "Learning as I go.",
      "thumbnailUrl": "https:\/\/unkwn1.dev",
      "license": "2021 - {{ YEAR }}"
    }
  </script>


</head>
<body class="body">
    <div class="wrapper">
      <aside
        
          class="wrapper__sidebar"
        
      ><div
  class="sidebar
    animated fadeInDown
  "
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="/images/unkwn1.jpeg"
        alt="profile picture"
      />
      
        <h1 class="sidebar__introduction-title">
          <a href="/">unkwn1&#39;s Technical Mind Palace</a>
        </h1>
      
      <div class="sidebar__introduction-description">
        <p>Learning as I go.</p>
      </div>
    </div>
    <ul class="sidebar__list">
      
        <li class="sidebar__list-item">
          <a
            href="https://gitlab.com/unkwn1"
            target="_blank"
            rel="noopener me"
            aria-label="GitLab"
            title="GitLab"
          >
            <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
        <li class="sidebar__list-item">
          <a
            href="https://www.instagram.com/unkwn1"
            target="_blank"
            rel="noopener me"
            aria-label="instagram"
            title="instagram"
          >
            <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
        <li class="sidebar__list-item">
          <a
            href="mailto:1337@unkwn1.dev"
            target="_blank"
            rel="noopener me"
            aria-label="e-mail"
            title="e-mail"
          >
            <i class="fas fa-envelope fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
    </ul>
  </div><footer class="footer footer__sidebar">
  <ul class="footer__list">
    <li class="footer__item">
      &copy;
      
        2021 - 2022
      
    </li>
    
  </ul>
</footer>
  
  <script
    type="text/javascript"
    src="/js/medium-zoom.min.1248fa75275e5ef0cbef27e8c1e27dc507c445ae3a2c7d2ed0be0809555dac64.js"
    integrity="sha256-Ekj6dSdeXvDL7yfoweJ9xQfERa46LH0u0L4ICVVdrGQ="
    crossorigin="anonymous"
  ></script></div>
</aside>
      <main
        
          class="wrapper__main"
        
      >
        <header class="header"><div
  class="
    animated fadeInDown
  "
>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
  </a>
  <nav class="nav">
    <ul class="nav__list" id="navMenu">
      
      
        
        
          <li class="nav__list-item">
            <a
              
                class="nav__link--active"
              
              href="/"
              
              title=""
              >Home</a
            >
          </li>
        

      
        
        
          <li class="nav__list-item">
            <a
              
              href="/post/"
              
              title=""
              >Posts</a
            >
          </li>
        

      
        
        
          <li class="nav__list-item">
            <a
              
              href="/about/"
              
              title=""
              >About</a
            >
          </li>
        

      
        
        
          <li class="nav__list-item">
            <a
              
              href="/backpack-backup/"
              
              title=""
              >Backpack Project</a
            >
          </li>
        

      
    </ul>
    <ul class="nav__list nav__list--end">
      
      
    </ul>
  </nav>
</div>
</header>
  <div
    class="post 
      animated fadeInDown
    "
  >
    <div class="post__content">
      
    </div>

    
  </div>

  

  
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/newyearseve-2022-resolution/">TAKING A LOOK BACK @ 2022</a></h3>
        
          <p>2022 - When it Rains it Pours 2022 has been one hell of a year for me. I pretty much ceased to function after the passing of my dog Foxy in April - coupled with the loss of my job and things have been incredibly trying.</p>
        
        <a href="/post/newyearseve-2022-resolution/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Sat, Dec 31, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/misc/">Misc</a></span>


        

        
          <span><a class="tag" href="/tags/personal/">personal</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/simple-lan-kubernetes-cluster-microk8s/">MY MICROK8S BASED KUBERNETES HOME LAB</a></h3>
        
          <p>I have a couple old laptops laying around and figured they would make for a decent kubernetes cluster. Initially I had planned to use kubeadm and set up the cluster somewhat manually - but I had ran into some issues.</p>
        
        <a href="/post/simple-lan-kubernetes-cluster-microk8s/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Fri, Oct 14, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/kubernetes/">Kubernetes</a><a class="category" href="/categories/sysadmin/">SysAdmin</a></span>


        

        
          <span><a class="tag" href="/tags/kubernetes/">kubernetes</a><a class="tag" href="/tags/k8/">k8</a><a class="tag" href="/tags/filesystem/">filesystem</a><a class="tag" href="/tags/ubuntu-snaps/">ubuntu snaps</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/backpack-backup-v0.0.4-rewrite-init/">BACKPACK V0.0.4 - AN ENTIRE REWRITE</a></h3>
        
          <p>Backpack v0.0.4 - An Entire Rewrite I started learning how to code in Python. Lately I’ve been coding in Go and it’s not only been fun but I’ve learned a lot. There are some practices learned in Go that I’ve been waiting to try out in some Python code.</p>
        
        <a href="/post/backpack-backup-v0.0.4-rewrite-init/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Thu, Oct 13, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/coding/">Coding</a></span>


        

        
          <span><a class="tag" href="/tags/python/">python</a><a class="tag" href="/tags/code/">code</a><a class="tag" href="/tags/filesystem/">filesystem</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/easy-cloud-storage-minio/">SUPER SIMPLE CLOUD STORAGE USING MINIO</a></h3>
        
          <p>I’m in love with my Swissmade.host server, the resource to price is outstanding. For roughly $17 CAD a month I get 4GB ram, 2CPU, 60GB NVME and, 4TB bandwidth… How could you not pick up a swissmade.</p>
        
        <a href="/post/easy-cloud-storage-minio/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Wed, Oct 5, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/devops/">DevOps</a><a class="category" href="/categories/sysadmin/">SysAdmin</a></span>


        

        
          <span><a class="tag" href="/tags/linux/">linux</a><a class="tag" href="/tags/debian/">debian</a><a class="tag" href="/tags/cloud-storage/">cloud storage</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/my-nginx-proxy-manager-review/">A TOOL TO CREATE NGINX PROXIES SUPER EASILY</a></h3>
        
          <p>I find proxies to be the heart of any server I’m setting up. Most services I deploy aren’t exposed via the internet connected interface - usually they’re exposed to localhost only. The need for a reverse proxy (cluster ingress) happens more often now that I’m using docker / kubernetes clusters.</p>
        
        <a href="/post/my-nginx-proxy-manager-review/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Wed, Jun 8, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/sysadmin/">SysAdmin</a></span>


        

        
          <span><a class="tag" href="/tags/docker/">docker</a><a class="tag" href="/tags/networking/">networking</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/simple-ssh-tunnels/">CREATING SSH TUNNELS EASILY WITH PROXYCOMMAND USING NETCAT AND, SSH&#39;S BUILT-IN JUMPHOST OPTION.</a></h3>
        
          <p>Creating an SSH Tunnel I wanted to add a bit of security when connecting to my main server. Currently my security consists of an uncommon port, no root access and, key only access. I tend to rotate my device’ IP addresses which as ruled out a UFW rule - with this I’d be content under normal circumstances.</p>
        
        <a href="/post/simple-ssh-tunnels/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Sun, Feb 13, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/sysadmin/">SysAdmin</a></span>


        

        
          <span><a class="tag" href="/tags/ssh/">ssh</a><a class="tag" href="/tags/networking/">networking</a><a class="tag" href="/tags/netcat/">netcat</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/proxy-cockpit-with-ssl-howto/">NGINX REVERSE PROXY FOR COCKPIT WITH LET&#39;S ENCRYPT</a></h3>
        
          <p>Part of my setup includes installing cockpit on my remote servers, below is a screenshot of the Cockpit features. By default Cockpit runs on localhost port 9090 this post will go over setting up a nginx reverse proxy with a subdomain for cockpit.</p>
        
        <a href="/post/proxy-cockpit-with-ssl-howto/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Wed, Jan 26, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/sysadmin/">SysAdmin</a></span>


        

        
          <span><a class="tag" href="/tags/letsencrypt/">letsencrypt</a><a class="tag" href="/tags/certbot/">certbot</a><a class="tag" href="/tags/nginx/">nginx</a><a class="tag" href="/tags/cockpit/">cockpit</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/bash-script-rsync-backups/">BASH SCRIPT FOR RSYNC BACKUPS</a></h3>
        
          <p>One thing Arch Linux teaches every n00b is the importance of routine backups. Growing tired of running the same commands manually each backup I wrote a little shell script to automate the process.
#! /bin/sh # # backup2desktop.</p>
        
        <a href="/post/bash-script-rsync-backups/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Fri, Jan 14, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/coding/">Coding</a></span>


        

        
          <span><a class="tag" href="/tags/shell-scripting/">shell scripting</a><a class="tag" href="/tags/rsync/">rsync</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/replacing-docker-with-nerdctl/">R</a></h3>
        
          <p>Like most developers I use and like Docker. However with the negative feedback Docker’s recent pricing change ignited I figured I’d consider alternatives. That’s how I stumbled upon the nerdctl project. nerdctl is a CLI front-end for containerd which attempts to fill some of the voids Docker has.</p>
        
        <a href="/post/replacing-docker-with-nerdctl/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Fri, Jan 14, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/coding/">Coding</a></span>


        

        
          <span><a class="tag" href="/tags/shell-scripting/">shell scripting</a><a class="tag" href="/tags/rsync/">rsync</a></span>


        
      </div>
    </div>
  
    <div
      class="post 
        animated fadeInDown
      "
    >
      
      <div class="post__content">
        <h3><a href="/post/first-ci-deployment-with-gitlab/">DORKSCAN - AUTOMATING DORKED SEARCH QUERIES</a></h3>
        
          <p>With DorkScan being my first distributed project it’s time I set up continuous integration. Seeing as how my code is hosted on GitLab Ill be using their CI.
DorkScan GitLab Pipeline Summary of My Initial CI Pipeline My initial pipeline is simple.</p>
        
        <a href="/post/first-ci-deployment-with-gitlab/">Read more</a></div>

      
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >
            
              Sat, Jan 8, 2022
            

          </span
        >
        
          <span><a class="category" href="/categories/projects/">Projects</a><a class="category" href="/categories/ci/cd/">CI/CD</a><a class="category" href="/categories/devops/">DevOps</a></span>


        

        
          <span><a class="tag" href="/tags/python/">python</a><a class="tag" href="/tags/gitlab/">gitlab</a><a class="tag" href="/tags/gitlab-ci/cd/">gitlab ci/cd</a></span>


        
      </div>
    </div>
  
  <div class="pagination">
    
  <ul class="pagination__list">
    
    
    
    
      
        <li class="pagination__list-item">
          <span class="page-link current">1</span>
        </li>
      

    
      
        <li class="pagination__list-item">
          <a class="page-link" href="/page/2/">2</a>
        </li>
      

    
    
      <li class="pagination__list-item">
        <a class="page-link" href="/page/2/">
          <i class="fa fa-angle-right" aria-label="Next"></i>
        </a>
      </li>
    
  </ul>


  </div>

      </main>
    </div><footer class="footer footer__base">
  <ul class="footer__list">
    <li class="footer__item">
      &copy;
      
        2021 - 2022
      
    </li>
    
  </ul>
</footer>
  
  <script
    type="text/javascript"
    src="/js/medium-zoom.min.1248fa75275e5ef0cbef27e8c1e27dc507c445ae3a2c7d2ed0be0809555dac64.js"
    integrity="sha256-Ekj6dSdeXvDL7yfoweJ9xQfERa46LH0u0L4ICVVdrGQ="
    crossorigin="anonymous"
  ></script></body>
</html>
